.grid-table{
    margin: 0 auto;       
    margin-bottom: 4rem;      
    
    width: 100%;      
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border: 10px solid #dcd6bc;
    background-color: #dcd6bc;                                                                                         ;
}

.easy{
    max-width: 45rem;
}

.normal{
    max-width: 70rem;
}

.hard{    
    max-width: 100rem;
}

.easy-square{
  width: 12.5%;
  aspect-ratio: 1/1;
  font-size: 22px;
}

.normal-square{
  width: 6.25%;
  aspect-ratio: 1/1;
  font-size: 19px;
}

.hard-square{
  width: 3.33333%;
  aspect-ratio: 1/1;
  font-size: 12px;
}

div {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }


  .valid {
      border: 5px solid;
      border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
      box-sizing: border-box;
    }
  
  .checked {
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
  }
  
  .number{
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .one {
    color: blue;
  }
  
  .two {
    color: green;
  }
  
  .three {
    color: red;
  }
  
  .four{
    color: rgb(1, 1, 145)
  }

  .five{
    color: rgb(197, 0, 0);

  }

  .six{
    color: orangered;
  }

  .flag{
      background-image: url('../../img/flag.svg');
      background-size: 100%;
  }

  .bomb{
      background-image: url('../../img/bomb.svg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: 80%;
      background-position-y: 50%;
  }

  .bombs{
      background-color: black;
      color: red;
      font-size: 25px;
      width: 6%;
      margin: auto;
      margin-bottom: 2%;
  }

  .reload{
    background-color: rgb(128, 128, 38);
    width: 60px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .reload img{
    width: 40px;
  }